# ============================================
# environmental variables
# ============================================
.env
.env.local
*.key

# ============================================
# Python
# ============================================
__pycache__/
*.pyc
*.pyo
*.egg-info/

# ============================================
# Jupyter
# ============================================
.ipynb_checkpoints/

# ============================================
# Generated outputs 
# ============================================
output/
logs/
results/

# ============================================
# Misc folders
# ============================================
batch_script/
src/main_old_scipt.py

# ============================================
# gpt logs 
# ============================================
gpt-oss/

# ============================================
# OS clutter
# ============================================
.DS_Store
Thumbs.db